.register,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.btn.log,
.btn.reg {
  width: 50%;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--blue);
  border: 1px solid var(--green);
  color: var(--green);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn.login:hover,
.btn.register:hover {
  background-color: var(--green);
  color: var(--blue);
}

.tooltip {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: var(--light);
  text-align: center;
  position: absolute;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 6s ease-in-out;
}

.tooltip.email {
  bottom: 47%;
  left: 100%;
  margin-left: 0.8rem;
}

.tooltip.password {
  bottom: 47%;
  right: 100%;
  margin-right: 0.8rem;
}

.tooltip.username {
  bottom: 47%;
  right: 100%;
  margin-right: 0.8rem;
}

.input-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip .strip {
  width: 100%;
  height: 1px;
  background: var(--green);
  position: absolute;
  top: 95%;
  opacity: 0;
  transition: opacity 6s ease-in-out;
}

.input-wrapper:hover .tooltip,
.input-wrapper:hover .tooltip .strip {
  opacity: 1;
}

.error {
  color: red;
  height: 2rem;
  width: 37rem;
}

.error p {
  text-align: center;
}
