.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  height: 45rem;
  width: 100vw;
}

.auth-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup-link,
.login-link {
  border-bottom: 1px solid var(--green);
}

.signup-link:hover,
.login-link:hover {
  color: var(--green);
  border-bottom: 1px solid var(--light);
}

@media screen and (max-width: 600px) {
  .auth-container {
    height: 40rem;
  }

  .auth-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
