.documentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blue);
  border-left: 0.3px solid var(--green);
  border-right: 0.3px solid var(--green);
  font-size: 0.9rem;
  color: var(--light);
  height: 100%;
  max-width: 0;
  width: 25rem;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.documentation.open {
  max-width: 25rem;
  opacity: 1;
  transform: scaleX(1);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.docs-title {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.docs-subtitle {
  font-size: 1rem;
  color: var(--light);
  margin: 1rem 0;
}

.docs-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 1rem 0 auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--green);
}

.docs-back.hidden {
  visibility: hidden;
  min-height: 1rem;
}

.docs-back:hover {
  color: var(--light);
}

.back-icon {
  rotate: 180deg;
  color: inherit;
}

.docs-container,
.kind-container {
  margin-top: 1rem;
  padding: 0 1rem 6rem;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.docs-item {
  font-size: 0.8rem;
  color: var(--extra);
  margin-bottom: 0.5rem;
  cursor: pointer;
  max-width: 10rem;
}

.docs-item:hover {
  color: var(--light);
}

.docs-subtitle.description {
  border-bottom: 0.08rem solid var(--extra);
  width: fit-content;
}

.no-docs {
  margin: 5rem 1rem 0;
}

.field-container {
  display: flex;
  flex-direction: row;
}

.field-type {
  margin-left: 0.5rem;
  cursor: pointer;
}
