.documentation {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blue);
  border-left: 0.3px solid var(--green);
  border-right: 0.3px solid var(--green);
  font-size: 0.9rem;
  color: var(--light);
  height: 100%;
  max-width: 0;
  width: 20rem;
  padding: 1rem;
  transform: scaleX(0);
  transform-origin: left;
  transition:
    transform 0.2s ease-out,
    visibility 0.2s ease-out,
    max-width 0.2s ease-out;
}

.documentation.open {
  visibility: visible;
  transform: scaleX(1);
  transition:
    transform 0.2s ease-out,
    visibility 0s 0s;
  max-width: 20rem;
}

.documentation h2 {
  margin-bottom: 1rem;
}

.documentation-item-container {
  margin-top: 4rem;
}

.documentation-item-name {
  font-size: 0.8rem;
  color: var(--extra);
  color: orange;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.documentation-item-name:hover {
  color: var(--light);
}

.documentation-container {
  text-align: left;
  width: 100%;
}

.documentation-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--light);
}

.documentation-back.icon {
  rotate: 180deg;
  color: inherit;
}

.documentation-back:hover {
  color: orange;
}
