.code-container {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.line-numbers,
.code {
  font-family: 'Courier New', monospace;
  white-space: pre;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.5rem;
  line-height: 1.5;
  overflow: auto;
}

.line-numbers {
  color: var(--green);
  width: 2rem;
  text-align: right;
  border-right: 0.3px solid var(--green);
  padding-right: 0.5em;
  user-select: none;
}

.code {
  flex-grow: 1;
  background-color: transparent;
  color: var(--light);
  resize: none;
  border: none;
  outline: none;
}
