.code-container,
.line-numbers,
.code,
.highlighted-code {
  font-family: 'Courier New', monospace;
  white-space: pre;
  font-size: 0.9rem;
  line-height: 1.5;
  overflow: auto;
}

.code-container {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 90%;
  position: relative;
}

.line-numbers {
  color: var(--green);
  width: 2rem;
  text-align: right;
  border-right: 0.3px solid var(--green);
  padding-right: 0.5em;
  user-select: none;
}

.code,
.highlighted-code {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  background: transparent;
  color: transparent;
  caret-color: var(--light);
  padding-left: 0.5rem;
}

.highlighted-code {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding-left: 2.5rem;
  color: var(--yellow);
}

.keyword,
.braces {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.keyword {
  color: var(--purple);
}

.braces {
  color: var(--light-blue);
}
