.endpoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--blue);
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.http {
  margin: 0;
}

.input-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
}

.endpoint-input:-webkit-autofill,
.endpoint-input:-webkit-autofill:focus {
  appearance: none;
  background-image: none !important;
  background-color: transparent !important;
  color: var(--green) !important;
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

.endpoint-input {
  margin: 0;
  padding: 0;
  color: var(--green);
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
}

.endpoint-icons-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.history,
.random-endpoint,
.clean-endpoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--light);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.history {
  font-size: 1.2rem;
  margin: 0 0.3rem;
}

.clean-endpoint {
  font-size: 1.9rem;
}

.random-endpoint {
  font-size: 1.4rem;
  margin: 0 0.3rem;
}

.history:hover,
.random-endpoint:hover,
.clean-endpoint:hover {
  color: var(--green);
}

.history.disabled {
  opacity: 0.5;
}

.history.disabled:hover {
  cursor: default;
  transform: none;
  color: var(--light);
}

@media screen and (max-width: 850px) {
  .endpoint {
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }

  .endpoint-icons-wrap {
    gap: 0.8rem;
  }

  .endpoint-label {
    display: none;
  }

  .endpoint-input {
    font-size: 1rem;
  }

  .history {
    font-size: 1rem;
  }

  .clean-endpoint {
    font-size: 1.5rem;
  }

  .random-endpoint {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 750px) {
  .endpoint-icons-wrap {
    gap: 0.4rem;
  }
}

@media screen and (max-width: 650px) {
  .endpoint .arrows {
    display: none;
  }

  .endpoint,
  .endpoint-input {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .endpoint {
    flex-direction: column;
    gap: 0.8rem;
  }

  .endpoint-icons-wrap {
    gap: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .endpoint {
    gap: 0.4rem;
  }

  .endpoint,
  .endpoint-input {
    font-size: 0.6rem;
  }
}
