.endpoint {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.endpoint-label {
  font-size: 1.2rem;
}

.http {
  margin: 0;
  font-size: 1.2rem;
}

.arrows {
  display: flex;
  animation: colorChange 1s infinite;
}

.input-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.endpoint-input:-webkit-autofill,
.endpoint-input:-webkit-autofill:focus {
  appearance: none;
  background-image: none !important;
  background-color: transparent !important;
  color: var(--green) !important;
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

.endpoint-input {
  margin: 0;
  padding: 0;
  color: var(--green);
  background-color: transparent;
  font-size: 1.2rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--light);
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.history:hover {
  color: var(--green);
}
