.field-item {
  font-size: 0.8rem;
  color: var(--light);
  margin-bottom: 0.5rem;
  max-width: 10rem;
  cursor: default;
}

.field-kind-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.field-kind {
  margin-left: 0.5rem;
  cursor: pointer;
}

.field-name {
  color: var(--extra);
}
