.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--dark), var(--blue), var(--dark));
  background-color: var(--dark);
  color: var(--light);
  height: 4rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.team-wrap {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-course {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.footer-text {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.repo-link {
  text-wrap: none;
  transition: all 0.2s ease-in-out;
}

.made-with {
  margin-right: 0.5rem;
}

.year {
  margin-left: 0.5rem;
}

.repo-link:hover {
  color: var(--green);
}

.course-link {
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  overflow: hidden;
}

.course-logo {
  height: 5rem;
  object-fit: cover;
}

.iconDiv {
  width: 1.3rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition:
    width 300ms ease-in-out 0s,
    background-color 300ms linear 200ms;
}

.iconSVG {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.iconDiv:hover,
.iconDiv:focus-visible {
  width: 5rem;
  background-color: var(--green);
  transition:
    width 300ms ease-in-out 0s,
    background-color 100ms linear 0s;
}

.iconDiv:active {
  opacity: 0.9;
}

.iconDiv:hover::after {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.1rem;
  width: 100%;
  content: attr(data-tooltip);
  animation: fadeIn 600ms linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .made-with {
    margin-right: 0;
  }

  .year {
    margin-left: 0;
  }

  .footer-course {
    width: max-content;
  }

  .footer-icons {
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .team-wrap {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
    width: max-content;
  }

  .footer-text {
    justify-content: flex-end;
    width: 100%;
  }

  .footer-icons {
    gap: 0.6rem;
    width: 100%;
  }

  .iconDiv,
  .iconDiv:hover,
  .iconDiv:focus-visible {
    margin: 0;
    padding: 0;
    gap: 0.1rem;
    width: max-content;
  }

  .iconDiv::after,
  .iconDiv:hover::after {
    padding-right: 0.1rem;
    content: attr(data-tooltip);
  }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 450px) {
}
