.container {
  display: flex;
  justify-content: flex-start;
  background-color: var(--dark);
  height: calc(100vh - 7rem);
}

.container-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
}

.container.code {
  position: relative;
  display: flex;
  background-color: var(--dark);
  height: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.editor,
.viewer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  height: 100%;
  width: 49%;
}

.disabled {
  opacity: 0.5;
}

.run-button {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4vw;
  min-width: 2.8rem;
  height: 4vw;
  min-height: 2.8rem;
  border: none;
  border-radius: 50%;
  background: var(--dark);
  transition: background 0.5s ease-out;
  cursor: pointer;
}

.run-button:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(transparent, var(--blue), var(--green));
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 2;
}

.run-button:hover:after {
  opacity: 1;
}

.run-button-icon {
  position: absolute;
  top: 50%;
  left: 53%;
  width: 2vw;
  min-width: 1.375rem;
  height: 2vw;
  min-height: 1.375rem;
  transform: translate(-50%, -50%);
  color: var(--green);
}

@media screen and (max-width: 650px) {
  .container {
    height: max-content;
  }

  .container .code {
    flex-direction: column;
    gap: 1rem;
  }

  .editor,
  .viewer {
    width: 100%;
    height: 30rem;
  }

  .run-button {
    position: fixed;
    top: 23rem;
    left: auto;
    right: -0.5rem;
    z-index: 10;
  }

  .run-button:after {
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .run-button {
    top: 24rem;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    padding: 0.6rem;
  }
}
