.greeting {
  color: var(--light);
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.2s ease-in-out;
}

@media screen and (max-width: 850px) {
  .greeting {
    font-size: 1rem;
  }
}

@media screen and (max-width: 610px) {
  .greeting {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  .greeting {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .greeting {
    font-size: 0.7rem;
  }
}
