.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 1rem 2rem;
  z-index: 10;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background: linear-gradient(90deg, var(--dark), var(--blue), var(--green));
  opacity: 1;
  z-index: -1;
}

.header.scrolled::after {
  opacity: 0;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background: linear-gradient(90deg, var(--green), var(--blue), var(--dark));
  opacity: 0;
  z-index: -1;
}

.header.scrolled::before {
  opacity: 1;
}

.navigation,
.navigation-left,
.navigation-right,
.header-links {
  display: flex;
  align-items: center;
}

.navigation {
  width: 100%;
  justify-content: space-between;
}

.link-sep {
  color: var(--light);
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0 0.5rem;
}

.btn-header {
  background-color: var(--dark);
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  min-width: 6rem;
}

.btn-header:hover {
  background-color: var(--blue);
  color: var(--light);
}

@media screen and (max-width: 610px) {
  .header {
    height: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 2rem;
  }
}
