.lang-icon {
  color: var(--light);
  font-size: 1.5rem;
  margin-right: 1rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.lang-icon.scrolled {
  color: var(--dark);
}

.lang-icon:hover {
  transform: scale(1.2) rotate(180deg);
}

.lang-menu {
  position: relative;
  display: flex;
  color: var(--light);
}

.lang-menu.scrolled {
  color: var(--dark);
}

.lang-dropdown {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.lang-dropdown,
.lang-dropdown.open {
  opacity: 1;
  visibility: visible;
}

.lang-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.lang-menu button {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: block;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.lang-menu button.selected {
  color: var(--extra);
}

.lang-menu.scrolled button.selected {
  color: var(--light);
}

@media screen and (max-width: 610px) {
  .lang-icon.scrolled {
    color: var(--light);
  }

  .lang-menu.scrolled {
    color: var(--light);
  }

  .lang-menu.scrolled button.selected {
    color: var(--extra);
  }
}

@media screen and (max-width: 400px) {
  .lang-dropdown {
    flex-direction: column;
  }

  .lang-menu button {
    margin: 0 0.3rem 0.3rem 0;
  }
}
