.lang-icon {
  color: var(--light);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.lang-icon:hover {
  transform: scale(1.2) rotate(180deg);
}

.lang-menu {
  display: flex;
  flex-direction: row;
}

.lang-dropdown {
  display: flex;
  flex-direction: row;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.lang-menu:hover .lang-dropdown,
.lang-dropdown.open {
  opacity: 1;
  visibility: visible;
}

.lang-dropdown button {
  color: var(--light);
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: block;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.lang-dropdown button.selected {
  color: var(--green);
}

.lang-icon.scrolled {
  color: var(--dark);
}

@media screen and (max-width: 450px) {
  .lang-icon {
    font-size: 2rem;
  }

  .lang-icon.scrolled {
    color: var(--light);
  }

  .lang-dropdown button {
    font-size: 1.2rem;
  }
}
