.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-icon {
  color: var(--light);
  font-size: 1.5rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
