.logo {
  position: relative;
  width: fit-content;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light);
  cursor: pointer;
}

.logo.scrolled {
  color: var(--dark);
}

.logo::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--extra);
  transition: width 0.3s ease-in-out;
}

.logo:hover::after {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .logo {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 610px) {
  .logo {
    font-size: 1rem;
  }

  .logo.scrolled {
    color: var(--light);
  }
}

@media screen and (max-width: 550px) {
  .logo {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}
