.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  position: relative;
  background-color: var(--blue);
  border: 1px solid var(--extra);
  color: var(--light);
  padding: 1.5rem;
  border-radius: 0.2rem;
  width: 40rem;
  height: auto;
  z-index: 1001;
}

.modal-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--light);
  transition: all 0.5s ease-in-out;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-icon:hover {
  color: var(--extra);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content h3 {
  margin: 1rem 0;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .modal-window {
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .modal-window {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .modal-window {
    width: 80%;
    height: auto;
  }
}
