.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blue);
  height: 100%;
  padding: 1rem;
}

.sidebar-icon {
  color: var(--green);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar-icon:hover {
  color: var(--light);
  transform: scale(1.1);
}

.sidebar-icon.docs.active {
  color: var(--light);
}

.disabled {
  opacity: 0.5;
}

.sidebar-icon.disabled:hover {
  cursor: default;
  transform: none;
  color: var(--green);
}

@media screen and (max-width: 650px) {
  .sidebar {
    padding: 0.8rem;
    height: 66rem;
  }

  .sidebar-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 550px) {
  .sidebar {
    height: 67.7rem;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    padding: 0.6rem;
  }
}
