.editor-footer {
  display: flex;
  flex-direction: column;
  flex: 0.06 1 0;
  border-top: 0.5px solid var(--green);
  border-radius: 0%;
  width: 100%;
  min-height: 2.5rem;
  color: var(--green);
  overflow: hidden;
}

.editor-footer.open {
  height: 25rem;
  flex: 1 1 0;
}

.editor-footer.open .editor-footer__tabs {
  cursor: row-resize;
}

.editor-footer__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  cursor: pointer;
}

.editor-footer.open .editor-footer__tabs {
  border-bottom: 0.5px solid var(--green);
}

.tabs_wrap {
  display: flex;
  gap: 3rem;
}

.editor-footer__tab {
  cursor: pointer;
}

.editor-footer__tab.checked {
  font-weight: 600;
}

.editor-footer__editor {
  width: 100%;
  height: 100%;
}

.editor-footer-icon.arrow {
  color: var(--green);
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.editor-footer-icon.arrow.open {
  transform: rotate(180deg);
}

.editor-footer-icon.arrow:hover {
  color: var(--light);
}

.headers,
.variables {
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headers:hover,
.variables:hover {
  color: var(--light);
}

@media screen and (max-width: 450px) {
  .tabs_wrap {
    gap: 1rem;
  }
}
