.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.welcome-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 17rem;
}

.welcome-title span {
  color: var(--extra);
  font-size: inherit;
  font-weight: 600;
  margin: 0 0.5rem 0 0;
}

.welcome-auth {
  display: flex;

  align-items: center;
  margin-top: 1rem;
}

.welcome-link {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.welcome-link:hover {
  color: var(--green);
}

span {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0.5rem;
}

.login-icon,
.signup-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colorChange 1s infinite;
}

.signup-icon {
  rotate: 180deg;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-right: none;
  }
}

.typing-effect {
  border-right: 0.15em solid var(--extra);
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 4s steps(40, end),
    blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--extra);
  }
}

.welcome-description {
  width: 80%;
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-bottom: 8rem;
  transition: filter 1s ease-in-out;
}

.welcome-description p {
  font-family: 'Courier New', monospace;
  text-align: center;
  margin-bottom: 2rem;
  transition: color 1.2s ease-in-out;
}

.welcome-description p span {
  font-size: inherit;
}

.blur {
  filter: blur(3px);
}

.default-color {
  color: var(--green);
}

.change-color {
  color: var(--light);
}

.welcome-auth-signup,
.welcome-auth-login {
  display: flex;

  align-items: center;
  justify-content: center;
}

.slava-git {
  cursor: pointer;
  border-bottom: 0.08rem solid transparent;
}

.slava-git:hover {
  border-bottom: 0.08rem solid var(--green);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 700px) {
  .welcome-title {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .welcome-description {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  .typing-effect {
    white-space: normal;
    overflow: hidden;
    height: 2.5rem;
  }

  .typing-effect::before {
    animation:
      typing-part1 2s steps(20, end),
      blink-caret 0.75s step-end infinite;
  }

  .typing-effect::after {
    content: attr(data-after);
    visibility: hidden;
    animation:
      typing-part2 2s steps(20, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 2s;
  }
}

@keyframes typing-part1 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes typing-part2 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .typing-effect {
    font-size: 1.2rem;
    height: 5.5rem;
  }

  .welcome-title {
    font-size: 2.2rem;
    margin-top: 7rem;
  }

  .welcome-description {
    font-size: 1.2rem;
    margin: 5rem 0 10rem 0;
  }

  .welcome-auth {
    flex-direction: column;
    margin-top: 2rem;
  }

  .welcome-auth-login,
  .welcome-auth-signup {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .welcome-description {
    margin-bottom: 12rem;
  }
}
