* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #191e29;
  --light: #ffffff;
  --grey: #696e79;
  --green: #01c38d;
  --blue: #132d46;
  --error: #e8153c;
  --extra: #d35400;
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
